@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
}
iframe {
    width: 100%;
    height: 100%;
}


button {
    margin: 10px;
    position: relative;
    padding: 10px 15px;
    border: none;
    outline: none;
    background: lightblue;
    color: gray;
    cursor: pointer;
    transition: .5s;
    overflow: hidden;
}

button:hover {
    color: #000;
}

button span {
    position: absolute;
    background:white;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 1px;
    top: 0;
    left: -100%;
}

button span:nth-child(2) {
    width: 100%;
    height: 1px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 1px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 1px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}




form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  label {
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
  input,
  textarea {
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-top: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: green;
  }


.container {
    background:whitesmoke;
    width: 100%;
    min-height: 100vh;
}
.conten {
    padding: 3rem 9% ;
    background: linear-gradient(90deg,rgb(0, 0, 0), rgba(62, 123, 62));
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
}
.conten h1 {
    font-weight: 400;
    font-size: 2.3rem;
    color: #d8d8d8;
}
.conten p {
    max-width: 45rem;
    color: #d8d8d8;
    font-size: 1rem;
    margin: .5rem 0;
    letter-spacing: .02rem;
    font-weight: 300;    
}
.btn {
    display: inline-block;
    background: #8a269e;
    border-radius: .2rem;
    padding: .4rem 3rem;
    color: #d8d8d8;
    margin-top: .5rem;
    font-size: 1rem;
    box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.2);
}
.btn:hover {
    background: #6a187a;
}

.title1 {
    padding: 1rem 9% ;
    color: #000000;
    font-weight: 300;
    font-size: 1.5rem;}
.video{ 
    border: 0.12rem solid #d8d8d8;
}
.contvideos {
    padding: 0 9% ;
    margin: auto;    
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 1.5rem;
    padding-bottom: 2rem;
}
.grupo2 {
    background: white;
}